# Python cache
__pycache__/
*.pyc

# Virtual environments
my_env/
.venv/
env/

# Generated images / outputs
captured_images/**
!captured_images/.gitkeep
!captured_images/test_images/
!captured_images/test_images/banpick_status/
!captured_images/test_images/lol_client/
!captured_images/test_images/banpick_status/.gitkeep
!captured_images/test_images/lol_client/.gitkeep
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
